@media only screen and (max-width:800px)
{
	:root{
    -pagetitle: 3.4vw;
    --two: 2.9vw;
    --title: 2.5vw;
    --context: 2.3vw;
    --smallcontext: 2.1vw;
    --one: 1.9vw;
  }

  .registr .window,
  .login .login_window,
  .sms_code .card,
  .page .window .shop_window {
      width: 75vw;
      border-radius: 2vw;
  }
  .close_registr,
  .close_login,
  .close_buy_products,
  .page .window .shop_window .close_shop {
    top: -2.5vw;
    right: -2.5vw;
    width: 6vw;
    height: 6vw;
  }

  
.window_head,
.login_window_head {
  border-radius: 2vw 2vw 0 0;
}

  .box-burger-menu {
    display: flex;
  }

  .header .header_top .header_top_right .user div {
    width: 25vw;
  }

  .nav {
    padding: 0 3vw;
    padding-right: 3vw;
  }

  .nav .categories {
    width: 50vw!important;
    z-index: 4000001;
  }

  .nav .categories ul {
    border-top: none;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.308), 0 3px 6px rgba(0, 0, 0, 0.295);
  }

  .nav .navbar ul {
    /* width: 50vw; */
    position: absolute;
    top: 10vh;
    left: -50vw;
    width: 200%;
    height: 0;
    overflow: hidden;
    background-color: #082f5e;
    z-index: 4000000;
    flex-direction: column;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.308), 0 3px 6px rgba(0, 0, 0, 0.295);
    transition: all 0.3s;
  }
  .nav .navbar ul li {
    line-height: 7vh;
    width: 100%;
  }

  .header_top .header_top_right {
    width: 17vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 5vw;
  } 

  .header_top .header_top_right img {
    width: 3vw;
  }

  .header_top .search .search_input div {
    width: 3.5vw;
  }

.header_top .search .search_input div img {
  width: 70%;
}
.header_top .search .search_category .search_category_head img {
  width: 1.5vw;
  transition: all 0.3s;
}

.my_services div img {
  width: 5.5vw;
}

.carousel__photo {
  height: 64vh;
}

.carousel__button--prev,
  .carousel__button--next {
    top:50%;
    width: 4.5vw;
    height: 4.5vw;
  }
  .carousel__button--prev {
    left:1vw;
  }
  .carousel__button--next {
    right:1vw;
  }
  .carousel__button--prev::after,
  .carousel__button--next::after {
    width: 1.5vw;
    height: 1.5vw;
    top: 50%;
    left: 58%;
  }
  .carousel__button--next::after {
    left: 42%;
    transform: translate(-50%, -50%) rotate(-45deg);
  }


.nav .categories div img {
  width: 2.8vw;
  margin-right: 1vw;
}


.footer .footer_top {
  padding: 6vh 4vw;
}

.footer .footer_top .left {
  width: 50%;
}

.footer .footer_top .left>div .icon {
  width: 20%!important;
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer .footer_top .left>div .icon img {
  width: 60%;
}

.footer .footer_top .left>div .body {
  width: 80%;
}

.footer .footer_top .right {
  width: 30%;
  padding: 4vh 0;
}

.footer .footer_top .right button {
  width: 75%;
}

.footer_bottom {
  padding: 2vh 5vw;
}

.footer_bottom div:nth-child(2) img {
  width: 10vw;
}

.header .header_top .header_top_right .language div div img {
  width: 2.3vw;
}



.root .dostavka .dostavka_head {
  height: 64vh;
}
.root .dostavka .dostavka_head img {
  height: 100%;
}
.buy_products .card .card_body .number_product div>p {
  width: 3vw;
}
.buy_products .card .card_body .number_product div input {
  width: 7vw;
}

.buy_products .card .card_head img {
  height: 60%;
}


.root .buy_product_cards .similar_products>span {
  padding-bottom: 1.4vh;
}

.root .buy_product_cards .similar_products .cards .box {
  width: 27.5vw;
}

.root .buy_product_cards .send_basket {
  border-radius: 3.2vw;
}

.root .buy_product_cards .pay_summa {
  padding: 5vh 14vw;
}

.root .buy_product_cards .pay_summa .taqsimot>div {
  border-radius: 2vw;
}

.root .buy_product_cards .pay_summa .month {
  border-radius: 2.5vw;
}

.root .buy_product_cards .pay_summa .month div label {
  border-radius: 2.5vw;
}

.root .buy_product_cards .head .left {
  width: 60%;
}

.root .buy_product_cards .head .left .imgs {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 25%;
}


.root .buy_product_cards .head .left .imgs .active {
  border: 0.5vw solid #082f5e;
}

.root .buy_product_cards .head .left .imgs div {
  border-radius: 2vw;
}







}