<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./style/style.css">
    <link rel="stylesheet" href="./style/css_1100.css">
    <link rel="stylesheet" href="./style/css_800.css">
    <link rel="stylesheet" href="./style/css_560.css">
    <link rel="stylesheet" href="./style/css_450.css">
    <link rel="stylesheet" href="./style/css_380.css">
    <link rel="stylesheet" href="./style/css_300.css">
    <!-- <link rel="shortcut icon" href="./images/hamroh logo-03.png" type="image/x-icon"> -->

   
</head>
<body>
    
    <div class="root">
        <div class="header">
            <div class="header_top">
                <div class="logo">
                    <img src="./images/hamroh logo-02.png" alt="">
                </div>
                <div class="search">
                    <div class="search_category">
                        <div class="search_category_head">
                            <p class="search_category_head_content">Barcha tovarlar</p>
                            <img src="./images/down_arrow.png"  class="search_category_head_content">
                        </div>
                        <ul class="search_category_body">
                        </ul>
                    </div>
                    <div class="search_input">
                        <input type="text" placeholder="Search...">
                        <div><img src="./images/loupe.png" alt=""></div>
                    </div>
                </div>
                <div class="header_top_right">
                    <div class="user">
                        <img src="./images/user.png" class="user_img">
                        <div>
                            <p>Registratsiyadan o'tish</p>
                        </div>
                    </div>
                    <div class="language">
                        <img src="./images/language.png" class="language_img">
                        <div>
                            <div>
                                <p>O'zbek</p>
                                <img src="./images/uzbekistan.png" alt="">
                            </div>
                            <div>
                                <p>Русский</p>
                                <img src="./images/russia.png" alt="">
                            </div>
                            
                        </div>
                    </div>
                    <a href="./buy_product.html" ><img src="./images/shopping-cart.png" alt="" ></a>
                </div>
                <div class="registr">
                    <div class="window">
                        <div class="window_head">Registratsiyadan o'tish</div>
                        <div class="window_body">
                            <div class="option">
                                <input type="text" id="input1" required>
                                <label for="input1">Ism</label>
                            </div>
                            <div class="option">
                                <input type="text" id="input2" required>
                                <label for="input2">Familiya</label>
                            </div>
                            <div class="option">
                                <input type="number" id="input4" required>
                                <label for="input4">Telefon raqam</label>
                            </div>
                            <button class="send">OK</button>
                        </div>
                        <div class="close_registr">X</div>
                    </div>
                </div>
                <div class="sms_code">
                    <div class="card">
                        <div class="card_head">
                            <p>Kodni kiriting:</p>
                            <p>Telefon raqamingizga yuborilgan SMS kod</p>
                        </div>
                        <div class="limit_time">
                            <p class="minut">03</p>
                            <p>:</p>
                            <p class="second">00</p>
                        </div>
                        <div class="card_body">
                            <input type="text">
                            <input type="text">
                            <input type="text">
                            <input type="text">
                            <input type="text">
                        </div>
                        <button class="send_kod">Send</button>
                        <div class="back_registr"><img src="./images/back_1.png" alt=""></div>
                    </div>
                </div>
                
            </div>
        </div>
        <div class="nav">
            <div class="categories">
                <div class="category_title">
                    <img src="./images/menu.png"  class="category_title_content">
                    <p class="category_title_content">Kategoriyalar</p>
                </div>
                <ul></ul>
            </div>
            <div class="navbar">
                <div class="box-burger-menu">
                    <div class="burger-menu"></div>
                </div>
                <ul>
                    <li><a href="./index.html">Bosh sahifa</a></li>
                    <li><a href="./about_we.html">Biz haqimizda</a></li>
                    <li><a href="./dostavka.html">Yetkazib berish</a></li>
                    <li><a href="./location.html">Joylashuv</a></li>
                </ul>
            </div>
        </div>
        <div class="category_page">
            <div class="cards">
                <div class="box">
                    <a href="./product_window.html">
                        <div class="card_head"><p>Aksiya</p></div>
                        <div class="card_icon">
                            <img src="./images/qozoncha.png" alt="">
                        </div>
                        <div class="about_product">
                            <p>Smartfon</p>
                            <p>Samsung s21 ultra</p>
                        </div>
                    </a>
                    <div class="sharxlar">
                        <div>
                            <img src="./images/Star 11.png" alt="">
                            <img src="./images/Star 11.png" alt="">
                            <img src="./images/Star 11.png" alt="">
                        </div>
                        <div>
                            <img src="./images/comment.png" alt="">
                            <p class="comment_number">0</p>
                            <p>sharhlar</p>
                        </div>
                        <p></p>
                    </div>
                    <div class="price">
                        <p>Narxi:</p>
                        <p class="summa">10000000</p>
                        <p>so'm</p>
                    </div>
                    <div class="card_btn"><button>Savatchaga qo'shish</button></div>
                </div>
                <div class="box">
                    <a href="./product_window.html">
                        <div class="card_head"><p>Aksiya</p></div>
                        <div class="card_icon">
                            <img src="./images/qozoncha.png" alt="">
                        </div>
                        <div class="about_product">
                            <p>Smartfon</p>
                            <p>Samsung s21 ultra</p>
                        </div>
                    </a>
                    <div class="sharxlar">
                        <div>
                            <img src="./images/Star 11.png" alt="">
                            <img src="./images/Star 11.png" alt="">
                            <img src="./images/Star 11.png" alt="">
                        </div>
                        <div>
                            <img src="./images/comment.png" alt="">
                            <p class="comment_number">0</p>
                            <p>sharhlar</p>
                        </div>
                        <p></p>
                    </div>
                    <div class="price">
                        <p>Narxi:</p>
                        <p class="summa">10000000</p>
                        <p>so'm</p>
                    </div>
                    <div class="card_btn"><button>Savatchaga qo'shish</button></div>
                </div>
                <div class="box">
                    <a href="./product_window.html">
                        <div class="card_head"><p>Aksiya</p></div>
                        <div class="card_icon">
                            <img src="./images/qozoncha.png" alt="">
                        </div>
                        <div class="about_product">
                            <p>Smartfon</p>
                            <p>Samsung s21 ultra</p>
                        </div>
                    </a>
                    <div class="sharxlar">
                        <div>
                            <img src="./images/Star 11.png" alt="">
                            <img src="./images/Star 11.png" alt="">
                            <img src="./images/Star 11.png" alt="">
                        </div>
                        <div>
                            <img src="./images/comment.png" alt="">
                            <p class="comment_number">0</p>
                            <p>sharhlar</p>
                        </div>
                        <p></p>
                    </div>
                    <div class="price">
                        <p>Narxi:</p>
                        <p class="summa">10000000</p>
                        <p>so'm</p>
                    </div>
                    <div class="card_btn"><button>Savatchaga qo'shish</button></div>
                </div>
                <div class="box">
                    <a href="./product_window.html">
                        <div class="card_head"><p>Aksiya</p></div>
                        <div class="card_icon">
                            <img src="./images/qozoncha.png" alt="">
                        </div>
                        <div class="about_product">
                            <p>Smartfon</p>
                            <p>Samsung s21 ultra</p>
                        </div>
                    </a>
                    <div class="sharxlar">
                        <div>
                            <img src="./images/Star 11.png" alt="">
                            <img src="./images/Star 11.png" alt="">
                            <img src="./images/Star 11.png" alt="">
                        </div>
                        <div>
                            <img src="./images/comment.png" alt="">
                            <p class="comment_number">0</p>
                            <p>sharhlar</p>
                        </div>
                        <p></p>
                    </div>
                    <div class="price">
                        <p>Narxi:</p>
                        <p class="summa">10000000</p>
                        <p>so'm</p>
                    </div>
                    <div class="card_btn"><button>Savatchaga qo'shish</button></div>
                </div>
                <div class="box">
                    <a href="./product_window.html">
                        <div class="card_head"><p>Aksiya</p></div>
                        <div class="card_icon">
                            <img src="./images/qozoncha.png" alt="">
                        </div>
                        <div class="about_product">
                            <p>Smartfon</p>
                            <p>Samsung s21 ultra</p>
                        </div>
                    </a>
                    <div class="sharxlar">
                        <div>
                            <img src="./images/Star 11.png" alt="">
                            <img src="./images/Star 11.png" alt="">
                            <img src="./images/Star 11.png" alt="">
                        </div>
                        <div>
                            <img src="./images/comment.png" alt="">
                            <p class="comment_number">0</p>
                            <p>sharhlar</p>
                        </div>
                        <p></p>
                    </div>
                    <div class="price">
                        <p>Narxi:</p>
                        <p class="summa">10000000</p>
                        <p>so'm</p>
                    </div>
                    <div class="card_btn"><button>Savatchaga qo'shish</button></div>
                </div>
                <div class="box">
                    <a href="./product_window.html">
                        <div class="card_head"><p>Aksiya</p></div>
                        <div class="card_icon">
                            <img src="./images/qozoncha.png" alt="">
                        </div>
                        <div class="about_product">
                            <p>Smartfon</p>
                            <p>Samsung s21 ultra</p>
                        </div>
                    </a>
                    <div class="sharxlar">
                        <div>
                            <img src="./images/Star 11.png" alt="">
                            <img src="./images/Star 11.png" alt="">
                            <img src="./images/Star 11.png" alt="">
                        </div>
                        <div>
                            <img src="./images/comment.png" alt="">
                            <p class="comment_number">0</p>
                            <p>sharhlar</p>
                        </div>
                        <p></p>
                    </div>
                    <div class="price">
                        <p>Narxi:</p>
                        <p class="summa">10000000</p>
                        <p>so'm</p>
                    </div>
                    <div class="card_btn"><button>Savatchaga qo'shish</button></div>
                </div>
                <div class="box">
                    <a href="./product_window.html">
                        <div class="card_head"><p>Aksiya</p></div>
                        <div class="card_icon">
                            <img src="./images/qozoncha.png" alt="">
                        </div>
                        <div class="about_product">
                            <p>Smartfon</p>
                            <p>Samsung s21 ultra</p>
                        </div>
                    </a>
                    <div class="sharxlar">
                        <div>
                            <img src="./images/Star 11.png" alt="">
                            <img src="./images/Star 11.png" alt="">
                            <img src="./images/Star 11.png" alt="">
                        </div>
                        <div>
                            <img src="./images/comment.png" alt="">
                            <p class="comment_number">0</p>
                            <p>sharhlar</p>
                        </div>
                        <p></p>
                    </div>
                    <div class="price">
                        <p>Narxi:</p>
                        <p class="summa">10000000</p>
                        <p>so'm</p>
                    </div>
                    <div class="card_btn"><button>Savatchaga qo'shish</button></div>
                </div>
                <div class="box">
                    <a href="./product_window.html">
                        <div class="card_head"><p>Aksiya</p></div>
                        <div class="card_icon">
                            <img src="./images/qozoncha.png" alt="">
                        </div>
                        <div class="about_product">
                            <p>Smartfon</p>
                            <p>Samsung s21 ultra</p>
                        </div>
                    </a>
                    <div class="sharxlar">
                        <div>
                            <img src="./images/Star 11.png" alt="">
                            <img src="./images/Star 11.png" alt="">
                            <img src="./images/Star 11.png" alt="">
                        </div>
                        <div>
                            <img src="./images/comment.png" alt="">
                            <p class="comment_number">0</p>
                            <p>sharhlar</p>
                        </div>
                        <p></p>
                    </div>
                    <div class="price">
                        <p>Narxi:</p>
                        <p class="summa">10000000</p>
                        <p>so'm</p>
                    </div>
                    <div class="card_btn"><button>Savatchaga qo'shish</button></div>
                </div>
            </div>
        </div>


         <div class="footer">
            <div class="footer_top">
                <div class="left">
                    <div>
                        <div class="icon"><img src="./images/operator.png" alt=""></div>
                        <div class="body">
                            <p>Operator bilan bog'lanish:</p>
                            <p>+998 99 999 99 99</p>
                        </div>
                    </div>
                    <div>
                        <div class="icon"><img src="./images/location.png" alt=""></div>
                        <div class="body">
                            <p>Joylashuv:</p>
                            <p>Toshkent viloyati, Mirzo Ulug'bek tumani 6-uy</p>
                        </div>
                    </div>
                    <div>
                        <div class="icon"><img src="./images/message.png" alt=""></div>
                        <div class="body">
                            <p>Email:</p>
                            <p>hamroh@gmail.com</p>
                        </div>
                    </div>
                </div>
                <div class="right">
                    <p>Xabar yozish</p>
                    <div class="table">
                        <div>
                            <input type="text" required id="ism">
                            <label for="ism">Ism</label>
                        </div>
                        <div>
                            <input type="text" required id="nomer">
                            <label for="nomer">Telefon nomer</label>
                        </div>
                        <div>
                            <input type="text" required id="matn">
                            <label for="matn">Xabar</label>
                        </div>
                        <button>Jo'natish</button>
                    </div>
                </div>
            </div>
            <div class="footer_bottom">
                <div>Mualliflik huquqi Propix. Barcha huquqlar himoyalangan.</div>
                <div>
                    <img src="./images/Uzcard.png" alt="">
                    <img src="./images/Visa.png" alt="">
                    <img src="./images/mastercard.png" alt="">
                </div>
            </div>
        </div>
    </div>


    <script src="./script/index.js"></script>
</body>
</html>