<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static './style/style.css' %}">
    <link rel="stylesheet" href="{% static './style/css_1100.css' %}">
    <link rel="stylesheet" href="{% static './style/css_800.css' %}">
    <link rel="stylesheet" href="{% static './style/css_560.css' %}">
    <link rel="stylesheet" href="{% static './style/css_450.css' %}">
    <link rel="stylesheet" href="{% static './style/css_380.css' %}">
    <link rel="stylesheet" href="{% static './style/css_300.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
   
</head>
<body>
    
    <div class="root">
        <div class="header">
            <div class="header_top">
                <div class="logo">
                    <img src="{% static './images/hamroh logo-02.png' %}" alt="">
                </div>
                <div class="search">
                    <div class="search_category">
                        <div class="search_category_head">
                            <p class="search_category_head_content">Barcha tovarlar</p>
                            <img src="{% static './images/down_arrow.png' %}"  class="search_category_head_content">
                        </div>
                        <ul class="search_category_body">
                        </ul>
                    </div>
                    <div class="search_input">
                        <input type="text" placeholder="Search...">
                        <div><img src="{% static './images/loupe.png' %}" alt=""></div>
                    </div>
                </div>
                <div class="header_top_right">
                    <div class="language">
                        <img src="{% static './images/language.png' %}" class="language_img">
                        <div>
                            <div>
                                <p>O'zbek</p>
                                <img src="{% static './images/uzbekistan.png' %}" alt="">
                            </div>
                            <div>
                                <p>Русский</p>
                                <img src="{% static './images/russia.png' %}" alt="">
                            </div>
                            
                        </div>
                    </div>
                    <a href="{% url 'box' %}" ><img src="{% static './images/shopping-cart.png' %}" alt="" ></a>
                </div>
            </div>
        </div>
        <div class="nav">
            <div class="categories">
                <div class="category_title">
                    <img src="{% static './images/menu.png' %}"  class="category_title_content">
                    <p class="category_title_content">Kategoriyalar</p>
                </div>
                <ul></ul>
            </div>
            <div class="navbar">
                <div class="box-burger-menu">
                    <div class="burger-menu"></div>
                </div>
                <ul>
                    <li><a href="{% url 'dashboard' %}">Bosh sahifa</a></li>
                    <li><a href="{% url 'about' %}">Biz haqimizda</a></li>
                    <li><a href="{% url 'delivery' %}">Yetkazib berish</a></li>
                    <li class="navbar_active"><a href="{% url 'location' %}">Joylashuv</a></li>
                </ul>
            </div>
        </div>

        <div class="map">
            <div class="gmap_canvas">
                <iframe class="gmap_iframe" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?width=950&amp;height=400&amp;hl=en&amp;q=Khamrokh Kredit Mkt H44R+7G3, A373&amp;t=&amp;z=14&amp;ie=UTF8&amp;iwloc=B&amp;output=embed"></iframe><a href="https://www.fridaynightfunkin.net/">Friday Night Funkin Download</a></div><style>.mapouter{position:relative;text-align:right;width:80vw;height:400px;margin: 0 auto;}.gmap_canvas {overflow:hidden;background:none!important;width:80vw;height:400px;margin: 0 auto;}.gmap_iframe {margin: 0 auto;width: 80vw!important;height:400px!important;}</style>
        </div>
        
        <div class="footer">
            <div class="footer_top">
                <div class="left">
                    <div>
                        <div class="icon"><img src="{% static './images/operator.png' %}" alt=""></div>
                        <div class="body">
                            <p>Operator bilan bog'lanish:</p>
                            <p>+998 99 999 99 99</p>
                        </div>
                    </div>
                    <div>
                        <div class="icon"><img src="{% static './images/location.png' %}" alt=""></div>
                        <div class="body">
                            <p>Joylashuv:</p>
                            <p>Toshkent viloyati, Mirzo Ulug'bek tumani 6-uy</p>
                        </div>
                    </div>
                    <div>
                        <div class="icon"><img src="{% static './images/message.png' %}" alt=""></div>
                        <div class="body">
                            <p>Email:</p>
                            <p>hamroh@gmail.com</p>
                        </div>
                    </div>
                </div>
                <!-- <div class="middle">
                    <p>Mijozlarga xizmat ko'rsatish</p>
                    <a href="#">Biz bilan bog'lanish</a>
                    <a href="#">Mahsulot va yordam</a>
                    <a href="#">Yetkazib berish va qaytarish</a>
                    <a href="#">Foydalanish shartlari</a>
                    <a href="#">Qaytarish siyosati</a>
                </div> -->
                <div class="right">
                    <p>Xabar yozish</p>
                    <form method="POST" class="table">{% csrf_token %}
                        <textarea name="message" class="form-control" cols="30" rows="10"></textarea><br>
                        <button type="submit">Jo'natish</button>
                    </form>
                    <!-- <div class="imgs">
                        <img src="./images/facebook.png" alt="">
                        <img src="./images/instagram.png" alt="">
                        <img src="./images/telegram.png" alt="">
                    </div> -->
                </div>
            </div>
            <div class="footer_bottom">
                <div>Mualliflik huquqi © 2021 Vinovathemes. Barcha huquqlar himoyalangan.</div>
                <div>
                    <img src="./images/Uzcard.png" alt="">
                    <img src="./images/Visa.png" alt="">
                    <img src="./images/mastercard.png" alt="">
                </div>
            </div>
        </div>
    </div>


    <script src="{% static './script/index.js' %}"></script>
    <script>

    </script>
</body>
</html>



<!-- 320 330 -->