<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static './style/style.css' %}">
    <link rel="stylesheet" href="{% static './style/css_1100.css' %}">
    <link rel="stylesheet" href="{% static './style/css_800.css' %}">
    <link rel="stylesheet" href="{% static './style/css_560.css' %}">
    <link rel="stylesheet" href="{% static './style/css_450.css' %}">
    <link rel="stylesheet" href="{% static './style/css_380.css' %}">
    <link rel="stylesheet" href="{% static './style/css_300.css' %}">
    <style>
        

    </style>
</head>
<body>
    
    <div class="root">
        <div class="header">
            <div class="header_top">
                <div class="logo">
                    <img src="{% static './images/hamroh logo-02.png' %}" alt="">
                </div>
                <div class="search">
                    <div class="search_category">
                        <div class="search_category_head">
                            <p class="search_category_head_content">Barcha tovarlar</p>
                            <img src="{% static './images/down_arrow.png' %}"  class="search_category_head_content">
                        </div>
                        <ul class="search_category_body">
                        </ul>
                    </div>
                    <div class="search_input">
                        <input type="text" placeholder="Search...">
                        <div><img src="{% static './images/loupe.png' %}" alt=""></div>
                    </div>
                </div>
                <div class="header_top_right">
                    <div class="language">
                        <img src="{% static './images/language.png' %}" class="language_img">
                        <div>
                            <div>
                                <p>O'zbek</p>
                                <img src="{% static './images/uzbekistan.png' %}" alt="">
                            </div>
                            <div>
                                <p>Русский</p>
                                <img src="{% static './images/russia.png' %}" alt="">
                            </div>
                            
                        </div>
                    </div>
                    <a href="{% url 'box' %}" ><img src="{% static './images/shopping-cart.png' %}" alt="" ></a>
                </div>
            </div>
        </div>
        <div class="nav">
            <div class="categories">
                <div class="category_title">
                    <img src="{% static './images/menu.png' %}"  class="category_title_content">
                    <p class="category_title_content">Kategoriyalar</p>
                </div>
                <ul></ul>
            </div>
            <div class="navbar">
                <div class="box-burger-menu">
                    <div class="burger-menu"></div>
                </div>
                <ul>
                    <li><a href="{% url 'dashboard' %}">Bosh sahifa</a></li>
                    <li><a href="{% url 'about' %}">Biz haqimizda</a></li>
                    <li><a href="{% url 'delivery' %}">Yetkazib berish</a></li>
                    <li><a href="{% url 'location' %}">Joylashuv</a></li>
                </ul>
            </div>
        </div>
        <div class="buy_product_cards">
            <div class="head">
                <div class="left">
                    <div class="img_div">
                        <img src="{{ get_product.product_image.url }}" alt="">
                    </div>
                </div>
                <div class="right">
                    <p>{{ get_product.product_title }}</p>
                    <div class="summa">
                        <p>Narxi:</p>
                        <p class="price">{{ get_product.product_cost }}</p>
                        <p>so'm</p>
                    </div> 
                        
                    <div class="about_product">
                        <p>{{ get_product.product_description }}</p>
                    </div> 
                </div>
            </div>
            <div class="pay_summa">
                <p>To'lov muddati:</p>
                <div class="month">
                    <div>
                        <input type="radio" id="a" name="input" checked>
                        <label for="a">3oy</label>
                    </div>
                    <div>
                        <input type="radio" id="b" name="input">
                        <label for="b">6oy</label>
                    </div>
                    <div>
                        <input type="radio" id="c" name="input">
                        <label for="c">9oy</label>
                    </div>
                    <div>
                        <input type="radio" id="d" name="input">
                        <label for="d">12oy</label>
                    </div>
                </div>
                <div class="taqsimot">
                    <div class="box_1">
                        <p>Oylik to'lov:</p>
                        <div>
                            <p class="price">162000</p>
                            <p>so'm</p>
                        </div>
                    </div>
                    <div class="box_2">
                        <p>Umumiy to'lov miqdori:</p>
                        <div>
                            <p class="price">5120000</p>
                            <p>so'm</p>
                        </div>
                    </div>
                </div>
            </div>
            <button class="send_basket"><a style="text-decoration: none; color:white" href="{% url 'add-box' get_product.product_category get_product.product_title %}">Savatchaga tashlash</a></button>
            <div class="similar_products">
                <span>O'xshash mahsulotlar</span>
                <div class="cards">
                    <div class="box">
                        <a href="./buy_product.html">
                            <div class="card_icon">
                                <img src="{% static './images/qozoncha.png' %}" alt="">
                            </div>
                            <div class="about_product">
                                <p>Smartfon</p>
                                <p>Samsung s21 ultra</p>
                            </div>  
                            <div class="sharxlar">
                                <div>
                                    <img src="{% static './images/Star 11.png' %}" alt="">
                                    <img src="{% static './images/Star 11.png' %}" alt="">
                                    <img src="{% static './images/Star 11.png' %}" alt="">
                                </div>
                                <div>
                                    <img src="{% static './images/comment.png' %}" alt="">
                                    <p class="comment_number">0</p>
                                    <p>sharhlar</p>
                                </div>
                                <p></p>
                            </div>
                        </a>
                        <div class="price">
                            <p>Narxi:</p>
                            <p class="summa">10000000</p>
                            <p>so'm</p>
                        </div>
                        <div class="card_btn"><button>Savatchaga qo'shish</button></div>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="footer">
            <div class="footer_top">
                <div class="left">
                    <div>
                        <div class="icon"><img src="{% static './images/operator.png' %}" alt=""></div>
                        <div class="body">
                            <p>Operator bilan bog'lanish:</p>
                            <p>+998 99 999 99 99</p>
                        </div>
                    </div>
                    <div>
                        <div class="icon"><img src="{% static './images/location.png' %}" alt=""></div>
                        <div class="body">
                            <p>Joylashuv:</p>
                            <p>Toshkent viloyati, Mirzo Ulug'bek tumani 6-uy</p>
                        </div>
                    </div>
                    <div>
                        <div class="icon"><img src="{% static './images/message.png' %}" alt=""></div>
                        <div class="body">
                            <p>Email:</p>
                            <p>hamroh@gmail.com</p>
                        </div>
                    </div>
                </div>
                <div class="right">
                    <p>Xabar yozish</p>
                    <div class="table">
                        <div>
                            <input type="text" required id="ism">
                            <label for="ism">Ism</label>
                        </div>
                        <div>
                            <input type="text" required id="nomer">
                            <label for="nomer">Telefon nomer</label>
                        </div>
                        <div>
                            <input type="text" required id="matn">
                            <label for="matn">Xabar</label>
                        </div>
                        <button>Jo'natish</button>
                    </div>
                    
                </div>
            </div>
            <div class="footer_bottom">
                <div>Mualliflik huquqi © 2021 Vinovathemes. Barcha huquqlar himoyalangan.</div>
                <div>
                    <img src="./images/Uzcard.png" alt="">
                    <img src="./images/Visa.png" alt="">
                    <img src="./images/mastercard.png" alt="">
                </div>
            </div>
        </div>
    </div>

<script src="{% static './script/index.js' %}"></script>
<script>

    function regExp() {
        let regExp1 = document.querySelectorAll('.buy_product_cards .head .right .summa .price');
        regExp1.forEach(item => {
            item.innerHTML = item.innerHTML.replace(/\s+/g, '').toString().replace(/\B(?=(\d{3})+(?!\d))/g, " ")
        })
        let regExp2 = document.querySelectorAll('.buy_product_cards .pay_summa .taqsimot div div .price');
        regExp2.forEach(item => {
            item.innerHTML = item.innerHTML.replace(/\s+/g, '').toString().replace(/\B(?=(\d{3})+(?!\d))/g, " ")
        })
        let regExp3 = document.querySelectorAll('.root .buy_product_cards .similar_products .cards .box .price');
        regExp3.forEach(item => {
            item.innerHTML = item.innerHTML.replace(/\s+/g, '').toString().replace(/\B(?=(\d{3})+(?!\d))/g, " ")
        })
    }

    document.querySelector('.buy_product_cards .pay_summa .taqsimot .box_1 div .price').innerHTML = 10000
    document.querySelector('.buy_product_cards .pay_summa .taqsimot .box_2 div .price').innerHTML = 30000
    const narx = 100000;
    document.querySelectorAll('.buy_product_cards .pay_summa .month div label').forEach((item, i) => {
        item.onclick = () => {
            if(i == 0) { 
                document.querySelector('.buy_product_cards .pay_summa .taqsimot .box_1 div .price').innerHTML = narx
                document.querySelector('.buy_product_cards .pay_summa .taqsimot .box_2 div .price').innerHTML = narx*3
                regExp()
            } 
            if(i == 1) { 
                document.querySelector('.buy_product_cards .pay_summa .taqsimot .box_1 div .price').innerHTML = narx*1.03
                document.querySelector('.buy_product_cards .pay_summa .taqsimot .box_2 div .price').innerHTML = narx*1.03*6
                regExp()
             } 
            if(i == 2) { 
                document.querySelector('.buy_product_cards .pay_summa .taqsimot .box_1 div .price').innerHTML = narx*1.03
                document.querySelector('.buy_product_cards .pay_summa .taqsimot .box_2 div .price').innerHTML = narx*1.03*9
                regExp()
             } 
            if(i == 3) { 
                document.querySelector('.buy_product_cards .pay_summa .taqsimot .box_1 div .price').innerHTML = narx*1.03
                document.querySelector('.buy_product_cards .pay_summa .taqsimot .box_2 div .price').innerHTML = narx*1.03*12
                regExp()
             }
        }
    })

    

    // document.querySelector('.buy_product_cards .send_basket').onclick = () => {
    //     if(document.querySelector('.number_product div input').value <= 0) {
    //         alert('Mahsulot sonini to`g`ri kiriting!')
    //     } else {
    //         alert('Mahsulot savatchaga qo`shildi! Savatchaga o`ting!')
    //     }
    // }


    document.querySelectorAll('.head .left .imgs .img').forEach(item => {
        item.onclick = () => {
            document.querySelectorAll('.head .left .imgs .img').forEach(img => {
                img.classList.remove('active')
            })
            document.querySelector('.head .left .img_div').innerHTML = item.innerHTML
            item.classList.add('active')
        }
    })
    document.querySelector('.head .left .imgs .top').onclick = () => {
        let number = 0
        document.querySelectorAll('.head .left .imgs .img').forEach((img, i) => {
            if(img.className.includes('active')) {
                number = i
            }
        })
        document.querySelectorAll('.head .left .imgs .img').forEach(img => {
            img.classList.remove('active')
        })
        if(number == 0) {
            document.querySelectorAll('.head .left .imgs .img')[document.querySelectorAll('.head .left .imgs .img').length - 1].classList.add('active')
            document.querySelector('.head .left .img_div').innerHTML = document.querySelectorAll('.head .left .imgs .img')[document.querySelectorAll('.head .left .imgs .img').length - 1].innerHTML
        } else {
            document.querySelectorAll('.head .left .imgs .img')[number - 1].classList.add('active')
            document.querySelector('.head .left .img_div').innerHTML = document.querySelectorAll('.head .left .imgs .img')[number - 1].innerHTML
        }
    }

    document.querySelector('.head .left .imgs .bottom').onclick = () => {
        let number = 0
        document.querySelectorAll('.head .left .imgs .img').forEach((img, i) => {
            if(img.className.includes('active')) {
                number = i
            }
        })
        document.querySelectorAll('.head .left .imgs .img').forEach(img => {
            img.classList.remove('active')
        })
        if(number == document.querySelectorAll('.head .left .imgs .img').length - 1) {
            document.querySelectorAll('.head .left .imgs .img')[0].classList.add('active')
            document.querySelector('.head .left .img_div').innerHTML = document.querySelectorAll('.head .left .imgs .img')[0].innerHTML
        } else {
            document.querySelectorAll('.head .left .imgs .img')[number + 1].classList.add('active')
            document.querySelector('.head .left .img_div').innerHTML = document.querySelectorAll('.head .left .imgs .img')[number + 1].innerHTML
        }
    }

    regExp()
</script>
</body>

</html>